@charset"UTF-8";

body{background-image:url("back.jpg");}

a{
  color:red;
  font-size:25px;
}

h1{
  color:red;
  font-size:16px;
}


/* スマホ用のCSSはメディアクエリの外に記述する */

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
}


