@charset"UTF-8";

input{
    font-size:30px;
    background-image: linear-gradient(0deg, #a7d9f5, #eaf6fd); /* グラデーション */
    border: 1px solid #3c7fb1; /* 枠線 */
    border-radius: 0.3em; /* 角丸 */
    
}


a{
    font-size: 15px;
}
    
div{
    color: green;
    font-size: 25px;
    text-align: center;
}

h1 {
    color: red;
    font-size: 16px;
}

